<div 
  data-controller="filters" 
  data-target="mobile.filtersContainer"
  class="<%= "hidden" unless cookies[:filters] == "on" %> md:block mb-6 xl:col-span-2 md:col-span-1">
  <div class="bg-white border border-gray-200 px-5 py-5">
    <div class="flex justify-between items-center">
      <p class="font-header text-xl font-medium mb-2">Filtry</p>
      <%= 
        link_to "Wyczyść", root_path, 
          class: "hidden text-red-600 font-semibold", 
          data: {target: "filters.clearLink"} 
        %>
  </div>

  <% @filters.each do |category_slug, facets| %>
    <p class="font-header text-lg font-medium mb-3"><%= I18n.t("facets.categories.#{category_slug}") %></p>
    <div class="category" id="<%= "#{category_slug}"%>">
      <% facets.each do |facet| %>
        <div class="flex justify-between mb-3 <%= "text-gray-400" if facet[:job_offers_count] == 0 %>">
          <label class="inline-flex items-center">
            <input type="checkbox" 
                   value="<%= facet[:slug] %>" 
                   <%= "checked" if facet_slug_active?(facet[:slug]) %> 
                   class="form-checkbox rounded-none w-5 h-5" 
                   <%= "disabled" if facet[:job_offers_count] == 0 %>
                   data-action="change->filters#update">
                   <span class="ml-3"><%= facet[:name] %></span>
          </label>
          <span><%= facet[:job_offers_count] %></span>
        </div>
      <% end %>
    </div>
  <% end %>
  </div>
</div>

