<div class="bg-gray-100 py-10" data-controller="mobile">
  <div class="hidden md:hidden fixed bottom-0 w-full " data-target="mobile.showJobOffers">
    <a class="block bg-red-500 mx-5 my-2 text-white text-center py-6 font-semibold text-lg"
       data-action="click->mobile#hide" >
      Pokaż ogłoszenia (<%= @job_offers.length %>)
    </a>
  </div>

  <div class="container m-auto md:grid xl:grid-cols-7 md:grid-cols-3 md:gap-8 px-5">
    <%= render 'filters_sidebar' %>

    <div 
       data-target="mobile.mainContainer" 
       class="<%= "hidden" if cookies[:filters] == "on" %> md:block xl:col-span-5 md:col-span-2">
       <a class="block md:hidden mb-4 inline-flex items-center"
         data-action="click->mobile#show">
         <svg class="fill-current w-6 h-6 mr-2" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><defs><style>.cls-1{fill:none;}</style></defs><title/><g data-name="Layer 2" id="Layer_2"><path d="M28,9H11a1,1,0,0,1,0-2H28a1,1,0,0,1,0,2Z"/><path d="M7,9H4A1,1,0,0,1,4,7H7A1,1,0,0,1,7,9Z"/><path d="M21,17H4a1,1,0,0,1,0-2H21a1,1,0,0,1,0,2Z"/><path d="M11,25H4a1,1,0,0,1,0-2h7a1,1,0,0,1,0,2Z"/><path d="M9,11a3,3,0,1,1,3-3A3,3,0,0,1,9,11ZM9,7a1,1,0,1,0,1,1A1,1,0,0,0,9,7Z"/><path d="M23,19a3,3,0,1,1,3-3A3,3,0,0,1,23,19Zm0-4a1,1,0,1,0,1,1A1,1,0,0,0,23,15Z"/><path d="M13,27a3,3,0,1,1,3-3A3,3,0,0,1,13,27Zm0-4a1,1,0,1,0,1,1A1,1,0,0,0,13,23Z"/><path d="M28,17H25a1,1,0,0,1,0-2h3a1,1,0,0,1,0,2Z"/><path d="M28,25H15a1,1,0,0,1,0-2H28a1,1,0,0,1,0,2Z"/></g><g id="frame"><rect class="cls-1" height="32" width="32"/></g></svg>
           <span class="text-lg">Filtry</span>
      </a>
      <%= render @job_offers %>
    </div>
  </div>
</div>

