<div class="container m-auto max-w-3xl px-4 pt-8 pb-4">
  <h1 class="text-4xl font-bold text-red-800 font-serif mb-10 text-center">RubyJobs.pl</h1>
  <div class="flex justify-between">
    <div class="flex-1 text-center">
      <p class="border-b-4 text-red-600 font-bold pb-3 mb-3 text-xl">Krok 1</p>
      <p class="text-2xl text-gray-700">Dodaj<span class="hidden sm:inline"> ogłoszenie<span></p>
    </div>
    <div class="flex-1 text-center">
      <p class="border-b-4 border-red-600 text-red-600 font-bold pb-3 mb-3 text-xl">Krok 2</p>
      <p class="text-2xl text-gray-700">Podgląd<span class="hidden sm:inline"> ogłoszenia<span></p>
    </div>
    <div class="flex-1 text-center">
      <p class="border-b-4 text-red-600 font-bold pb-3 mb-3 text-xl">Krok 3</p>
      <p class="text-2xl text-gray-700 font-sans">Podsumowanie</p>
    </div>
  </div>
</div>

<div class="container m-auto max-w-3xl px-4 mt-6">
  <h2 class="text-2xl text-red-600 border-b pb-2 mb-5">Strona główna</h2>
  <div>
    <%= render partial: 'job_offers/job_offer', locals: {job_offer: @job_offer} %>
  </div>
</div>

<div class="container m-auto max-w-3xl px-4 pt-4 pb-10">
  <h2 class="text-2xl text-red-600 border-b pb-2 mb-5">Treść ogłoszenia</h2>
  <div class="border-b pb-5">
    <p class="text-gray-800 text-xl mb-2"><%= @job_offer.company.name %></p>
    <p class="text-2xl font-bold"><%= @job_offer.title %></p>
    <p class="text-gray-800 mb-2"><%= @job_offer.location_names %></p>
    <p class="text-gray-800"><%= @job_offer.salary %> (<%= @job_offer.salary_type %>)</p>
  </div>
  <div class="mt-5 pb-6 leading-relaxed text-gray-800 mb-6">
    <div class="trix-content" ng-bind-html="$ctrl.offer.body">
      <%= @job_offer.description.html_safe %>
    </div>
  </div>
  <div class="flex justify-between border-t pt-8">
    <%= link_to "Wstecz", edit_job_offer_path(@job_offer.token), class: "text-red-600 py-4 text-xl font-bold" %>
    <%= link_to "Dalej", job_offers_summary_path(@job_offer.token), class: "bg-red-600 text-white px-12 py-4 text-xl font-bold" %>
  </div>
</div>
