<div class="py-3">
  <div class="container m-auto px-5 flex justify-between">
    <div class="hidden sm:block">
      <%= link_to "RubyJobs.pl", root_path, class: "block text-red-800 text-xl font-bold font-header" %>
      <p class="mt-2">Ogłoszenia pracy dla programistów Rubiego.</p>
    </div>
    <div>
      <p>Kontakt:</p>
      <%= link_to "marcin@rubyjobs.pl", "mailto:marcin@rubyjobs.pl", class: "block mt-2 text-red-800" %>
    </div>
  </div>
</div>
