<div data-controller="mobile-menu" >
  <div class="border-b border-gray-200 py-3">
    <div class="container m-auto px-5">
      <div class="flex justify-between items-center">
        <%= link_to "RubyJobs.pl", root_path, class: "text-red-800 text-2xl font-bold font-header" %>
        <div class="hidden md:flex items-center">
          <% if user_signed_in? %>
            <%= link_to('Wyloguj się', destroy_user_session_path, method: :delete) %>        
          <% else %>
            <%= link_to('Zaloguj się', new_user_session_path) %>  
          <% end %>
          <%= link_to "Dodaj ogłoszenie", new_job_offer_path, class: "border-2 border-red-600 bg-red-100 px-3 py-2 block ml-4 hidden sm:block" %>
        </div>
        <div data-action="click->mobile-menu#toggle" class="md:hidden text-gray-700 flex-grow flex flex-row-reverse">
          <svg class="fill-current h-6 w-6" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
        </div>
      </div>
    </div>
  </div>
  <div data-target="mobile-menu.menu" class="hidden md:hidden border-b border-gray-200 container m-auto py-5 px-5 text-lg leading-relaxed">
    <div class="flex flex-col">
      <% if user_signed_in? %>
        <%= link_to('Wyloguj się', destroy_user_session_path, method: :delete) %>        
      <% else %>
        <%= link_to('Zaloguj się', new_user_session_path) %>  
      <% end %>
      <%= link_to "Dodaj ogłoszenie", new_job_offer_path, class: "text-red-600" %>
    </div>
  </div>
</div>
